.section-blogs {
  max-width: 150rem;
  padding: 5rem 0;
  height: auto;
  margin: 0 auto;
  margin-top: var(----step-8);
}

.blogs {
  &__titles {
    text-align: center;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 5rem;
    margin: 0 2rem;
  }

  &__post {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__img {
    border-left: solid var(--color-secondary-dark) 0.4rem;
    border-top: solid var(--color-secondary-dark) 0.4rem;
    border-radius: 0.2rem;
  }

  &__img img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    box-shadow: var(--shadow-light);

    border-radius: 0.2rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 5rem;
    transition: all 0.2s;

    &:hover {
      border-top-right-radius: 0rem;
      filter: grayscale(100%);
    }
  }

  & p {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 3rem;
  }

  &__btn {
    font-size: 1.6rem;
    text-decoration: none;
    border-bottom: solid var(--color-secondary-dark) 0.4rem;
    color: var(--color-secondary-dark);
    text-transform: uppercase;
    width: 60%;
    transition: all 0.2s;

    &:hover {
      color: var(--shadow-light);
      transform: translateY(-0.2rem);
      border-bottom: solid var(--color-secondary-light) 0.4rem;
    }
  }
}
