@use "base" as *;

.section-footer {
  padding: 5rem 0;
  height: auto;
  margin-top: var(----step-8);
}

.footer {
  &__img {
    background-image: url(/src/img/footer-bgd.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: auto;
    min-height: 80rem;
    padding: 4rem;
    box-shadow: var(--shadow-dark);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-grey-light-1);
    width: 50%;
    padding: 2rem 3rem;
    margin: 0 auto;
    opacity: 95%;
    box-shadow: var(--shadow-light);
    border-radius: 0.2rem;

    @media only screen and (max-width: $bp-normals) {
      width: 70%;
    }
    @media only screen and (max-width: $bp-smaller) {
      width: 95%;
    }

    & p {
      font-size: 1.4rem;
      line-height: 1.2;
      color: var(--color-grey-light-1);
      background-color: var(--color-secondary-light);
      padding: 1rem 2rem;
    }
  }

  &__titles {
    text-align: center;
    display: inline-block;
  }

  &__btns {
    @media only screen and (max-width: $bp-small) {
      display: flex;
      text-align: center;
      gap: 0.5rem;
      flex-direction: column;
    }
  }

  &__btn {
    display: inline-block;
    @media only screen and (max-width: $bp-smallest) {
      padding: 1rem 4rem !important;
    }
  }

  &__info {
    max-width: 180rem;
    font-size: 1.6rem;
    color: var(--color-grey-light-3);
    margin: 0 auto;
    margin-top: 10rem;

    & h5 {
      color: var(--color-grey-light-1);
      text-transform: uppercase;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  &__info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 1rem;
    padding: 0rem 1rem 5rem 1rem;
    border-bottom: solid var(--color-grey-light-2) 0.4rem;
  }

  &__about {
    margin-left: var(--space-l-xl);
  }

  &__social {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__sitems {
    padding: 0.5rem;

    & svg {
      width: 4rem;
      fill: var(--color-grey-light-1);
      transition: fill 0.5s, transform 0.2s;
      border: solid var(--color-grey-light-1) 0.1rem;
      padding: 0.8rem;

      &:hover {
        fill: var(--color-secondary-light);
        transform: translateY(-0.2rem);
        border: solid var(--secondary-light) 0.1rem;
      }
    }
  }

  &__quicklinks-nav a {
    text-decoration: none;
    color: var(--color-grey-light-3);
    cursor: pointer;
  }

  &__quicklinks-nav ul {
    text-decoration: none;
    list-style: none;

    & a {
      &:hover {
        color: var(--color-secondary-light);
        text-decoration: underline;
      }
    }
  }

  &__copyright {
    color: var(--color-grey-light-3);
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
  }

  &__copyright-right {
    display: flex;
    gap: 1.4rem;
  }
}

footer {
  border-bottom: solid var(--color-tertiary-dark) 1rem;
}
