@use "base" as *;

.section-reviews {
  padding: 5rem 0;
  height: 90vh;
  margin-top: var(----step-8);

  @media only screen and (max-width: $bp-largest) {
    height: auto;
  }
}

.reviews {
  background-image: url(/img/review-bgd.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 80rem;
  display: flex;
  padding: 4rem;
  box-shadow: var(--shadow-dark);

  &__left {
    width: 50%;

    @media only screen and (max-width: $bp-normal) {
      width: 0%;
    }
  }

  &__right {
    width: 50%;

    @media only screen and (max-width: $bp-normal) {
      width: 100%;
    }
  }

  &__titles {
    display: inline-block;
  }
  &__heading {
    background-color: var(--color-primary-light);
    border-radius: 0.2rem;
    padding: 1rem 3rem;
    box-shadow: var(--shadow-dark);
    border-bottom: solid var(--color-secondary-light) 0.3rem;
    border-top: solid var(--color-secondary-light) 0.3rem;
    color: var(--color-grey-light-1) !important;
  }

  &__box {
    background-color: var(--color-primary-light);
    padding: 4rem 5rem;
    border-radius: 0.2rem;
    box-shadow: var(--shadow-dark);
    width: 60%;
    border-bottom: solid var(--color-secondary-light) 0.6rem;
    border-top: solid var(--color-secondary-light) 0.6rem;
    color: var(--color-grey-light-1);

    @media only screen and (max-width: $bp-small) {
      width: 100%;
      margin-left: -2rem !important;
    }
  }

  &__slide {
    position: relative;
    animation: animateleft 1s;
  }

  @keyframes animateleft {
    0% {
      right: -10rem;
      opacity: 0;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }

  &__comment {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--color-grey-light-3);

    @media only screen and (max-width: $bp-small) {
      font-size: 2.4rem;
      font-weight: 400;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__personal-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__person {
    & img {
      border-radius: 50%;
      width: 8rem;
      display: block;
      box-shadow: var(--shadow-dark);
    }
  }

  &__name {
    font-weight: 700;
    font-size: 2rem;
  }

  &__stars {
    width: 10rem;
    fill: var(--color-secondary-light);
    display: flex;
  }

  &__logo {
    opacity: 10%;
    width: 7.4rem;
    display: block;
    border-radius: 50%;
  }
}
