@use "base" as *;

%heading {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: var(--color-secondary-dark);
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 6.4rem;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;

  color: var(--color-primary);

  &--light {
    color: var(--color-primary-light);
  }

  &--dark {
    color: var(--color-primary-dark);
  }

  &--secondary {
    color: var(--color-secondary-dark);
  }
}

.heading-3 {
  @extend %heading;
  font-size: 2.4rem;
  color: var(--color-primary-light);
  text-transform: uppercase;

  &--light {
    color: var(--color-primary-light);
  }

  &--dark {
    color: var(--color-primary-dark);
  }

  &--secondary {
    color: var(--color-secondary-dark);
  }
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
  text-transform: uppercase;

  &--light {
    color: var(--color-primary-light);
  }

  &--dark {
    color: var(--color-primary-dark);
  }
}

.btn {
  background-color: var(--color-primary);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0;
  font-family: "Rubik";
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 9rem;
  cursor: pointer;
  transition: all 0.2s;

  @media only screen and (max-width: $bp-largest) {
    padding: 1rem 8rem;
  }

  &--borders {
    border-left: solid var(--color-secondary-dark) 0.4rem;
    border-right: solid var(--color-secondary-dark) 0.4rem;
  }

  &:hover {
    background-color: var(--color-secondary-dark);
  }
}

.mb-xsm {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.ml-sm {
  margin-left: 2rem;
}
